absl-py==0.12.0
appnope==0.1.2
astroid==2.5.1
astunparse==1.6.3
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
cchardet==2.1.7
certifi==2020.12.5
chardet==4.0.0
# Editable install with no version control (citrite==0.0.2)
-e /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages
click==7.1.2
construct==2.9.52
credentials==1.1
cycler==0.10.0
decorator==4.4.2
elasticsearch==7.12.0
et-xmlfile==1.0.1
fastprogress==1.0.0
filelock==3.0.12
Flask==1.0.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna==2.10
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
jieba==0.42.1
Jinja2==2.11.3
joblib==1.2.0
Keras==2.4.3
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-nightly==2.5.0.dev2021032900
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
kiwisolver==1.3.1
ktrain==0.26.2
langdetect==1.0.8
lazy-object-proxy==1.5.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mistune==0.8.3
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
omniture @ git+git://github.com/stdbrouw/python-omniture.git@3ddc3b74ca9ca358e0aae4669fca78c47d7358c6
openpyxl==2.5.8
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
parso==0.8.2
pathlib==1.0.1
pdbfile @ git+https://github.com/alexmgr/pdbfile.git@c7c906183bc3005232e6661386590b6985f98a14
pdbparse==1.5
pefile==2018.8.8
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
protobuf==3.15.8
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyClamd==0.4.0
Pygments==2.8.1
pylint==2.7.2
pymongo==3.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.44
scikit-learn==0.23.2
scipy==1.6.2
sentencepiece==0.1.95
seqeval==0.0.19
six==1.15.0
soupsieve==2.2
ssdeep==2.5
syntok==1.3.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc1
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.10.2
toml==0.10.2
tqdm==4.60.0
traitlets==5.0.5
transformers==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
Whoosh==2.7.4
wrapt==1.12.1
